body {
  background-color: #30384b;
  color: #eee;

}

main {
  padding-top: 50px;
  max-width: 340px;
  margin:0;
  text-align: center;

}

button {
  background-color: transparent;
  color: rgba(255,255,255,0.8);
  border: none;
  display: inline-block;
  width: 100px;

}

/* .App {
  padding-top: 150px;
  max-width: 340px;
  margin: 0 auto;
  text-align: center;
}

.App .timer{
  margin-bottom: 50px;
  margin: auto;
  font-size: 2rem;
  color: #f8f8f8;
  background-color: black;
}

.App .button {
  padding: 1.2rem 1.0em;
  font-size: 1em;
  margin: 1em;
  border-radius: 50%;
  color: black;
  background-color: #f8f8f8;
  border-style: none; 
}

.setting p {
  margin: 1em auto;
color: #f8f8f8;
font-size: 1em;
padding: 0.75em 2em;
max-width: 50px;
background-color: rgb(44, 76, 123);
border-radius: .5em;

} */